/* add css here */
body {
    color: blue;
    margin: 0px
}

.body-wrapper {
  background-color: #d9b99b;
  height:100vh;
  justify-content: center;
  display: flex;
}

.quote-box {
  width: 400px;
  height: 400px;
  background-color: #eed9c4;
}

.image-wrapper {
  width: 30px;
  height: 30px;
}


.text-wrapper {
  color: #2f2f2f;

}

.text-wrapper p {
  font-family: 'Outfit', sans-serif;
}



